<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="StartedPage" value="0" />
        <add key="StorageFolder" value="" />
        <add key="MenuType" value="Full" />
        <add key="Theme" value="Default" />
        <add key="Height" value="" />
        <add key="Width" value="" />
        <add key="WindowState" value="" />
    </appSettings>
</configuration>